@use "sass:map";
@use "sass:list";

@use "../variables/colors";

$material-colors: map.get(colors.$colors, material-theme);
/*
 https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 
 */
@function material-color($color-name, $color-variant: '500') {

  @if map.has-key($material-colors, $color-name) {
    $color: map-get(map-get($material-colors, $color-name), $color-variant);
    @return $color
  }
  @else {
    @error "No color found | Your #{$color-name}, #{$color-variant} pair are not in in the material-colors map.";
  }
}

//@debug material-color('indigo'); /* out:  #3f51b5*/
//@debug material-color('test');


//Arbitrary Argument
@function summarize-numbers($numbers...){
  $sum: 0;
  @for $i from 1 to list.length($numbers)+1 {  //+1??????????
    $value: list.nth($numbers, $i);
    @if type-of($value: $value) !=number {
      @error "The #{i} parameter is not a number";
    }
    $sum: $sum + $value;
  }
  @return $sum;
}

@debug summarize-numbers(1, 2, 3, 4);

//missing feature :)
@function delete-list-element($list, $index) {
  $new-list: ();
  @if $index > list.length($list) {
    @error "Element not exists";
  }
  @for $i from 1 through list.length($list) {
    @if $i != $index {
        $new-list: list.append($new-list, list.nth($list, $i))
    }
  }
  @return $new-list;
}

@debug delete-list-element(3 4 5, 3); //no comma to list!!!! out: 3 4

